:root {
	--primery-text-color: #757575;
	--title-text-color: #212121;
	--hover-text-color: #2196f3;
	--hero-text-color: #ffffff;
	--address-text-color: rgba(255, 255, 255, 0.6);
	--primery-bleck-color: #2f303a;
	--main-background-color: #f5f5f5;
	--section-background-color: #f5f4fa;
	--borders-color: #eeeeee;
	--logo-bleck-color: #000000;
	--transition-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Base styles */
body {
	background-color: var(--hero-text-color);
	color: var(--primery-text-color);
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	letter-spacing: 0.03em;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

.container {
	width: 1200px;
	padding-right: 15px;
	padding-left: 15px;
	margin-left: auto;
	margin-right: auto;
	/* outline: 2px solid red;
  outline-offset: -2px; */
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
a {
	text-decoration: none;
	color: currentColor;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}

/* Button */
.button {
	cursor: pointer;
	border: none;
	font-family: inherit;
	transition: color var(--transition-function),
		background-color var(--transition-function),
		box-shadow var(--transition-function);
}

.button:hover,
.button:focus {
	color: var(--hero-text-color);
	background-color: var(--hover-text-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hero__button {
	min-width: 216px;
	padding: 10px 32px;
	color: var(--hero-text-color);
	background-color: var(--hover-text-color);
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	border-radius: 4px;
}

.hero__button:hover,
.hero__button:focus {
	background-color: aqua;
	box-shadow: none;
}

.portfolio-button {
	padding: 6px 22px;
	color: var(--title-text-color);
	background-color: var(--section-background-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	border-radius: 4px;
}

/* Header */
.header {
	border-bottom: 1px solid #ececec;
}

.header__container {
	display: flex;
	align-items: center;
	height: 80px;
	padding-top: 24px;
	padding-bottom: 24px;
}

/* Logo */
.logo {
	margin-right: 93px;
	color: var(--hover-text-color);
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: calc(31 / 26);
}

.logo--header {
	color: var(--logo-bleck-color);
}

.logo--footer {
	color: var(--hero-text-color);
}

/* Site nav */
.nav {
	display: flex;
	align-items: center;
}

.nav__list {
	display: flex;
	gap: 50px;
}

.nav__list a {
	color: var(--title-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	transition: color var(--transition-function);
}

.nav__list a:hover,
.nav__list a:focus {
	color: var(--hover-text-color);
}

.nav__link,
.contacts__link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
}

.nav__list .nav__link--current {
	color: var(--hover-text-color);
}

.nav__link--current {
	position: relative;
}

.nav__link--current::after {
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #2196f3;
	border-radius: 2px;
}

.contacts {
	display: flex;
	margin-left: auto;
	gap: 30px;
}

.contacts a {
	color: var(--primery-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	transition: color var(--transition-function);
}

.contacts a:hover,
.contacts a:focus {
	color: var(--hover-text-color);
}

.contacts__link {
	display: flex;
	align-items: center;
	gap: 10px;
}

.contacts__icon {
	fill: currentColor;
}

/* Hero */
.hero {
	padding-top: 200px;
	padding-bottom: 200px;
	max-width: 1600px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	background-color: #c4c4c4;
	background-image: linear-gradient(
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)
		),
		url(../images/img-hero.jpg);
	background-size: cover;
}

.hero__title {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	max-width: 696px;
	color: var(--hero-text-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

/* Work */
.work {
	padding-bottom: 0;
	background-color: var(--hero-text-color);
}

.work--secondary {
	background-color: var(--hero-text-color);
}

.work__list {
	display: flex;
	gap: 30px;
}

.work__item {
	width: 270px;
}

.work__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	height: 120px;
	background-color: var(--section-background-color);
	border-radius: 4px;
}

.work__title {
	margin-bottom: 10px;
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.work__text {
	line-height: calc(24 / 14);
}

.work__uppertitle {
	margin-bottom: 50px;
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
}

.overlay__item {
	position: relative;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.overlay__text {
	padding-top: 27px;
	padding-bottom: 27px;
	font-weight: 700;
	line-height: 1.14;
	text-align: center;
	text-transform: uppercase;
	color: var(--hero-text-color);
	background-color: rgba(47, 48, 58, 0.8);
}

/* Our team */
.team {
	background-color: var(--section-background-color);
}

.team__title {
	margin-bottom: 50px;
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
}

.team__list {
	display: flex;
	justify-content: space-between;
	flex-basis: calc((100% - 90px) / 4);
}

.team--color {
	background-color: var(--hero-text-color);
}

.team__item {
	padding-top: 30px;
	padding-bottom: 30px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.team__personal {
	margin-bottom: 10px;
	color: var(--title-text-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
}

.team__text {
	margin-bottom: 16px;
	color: var(--primery-text-color);
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
}

.socials {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.socials__item {
	width: 44px;
	height: 44px;
}

.socials__link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	color: #afb1b8;
	transition: color var(--transition-function),
		background-color var(--transition-function);
}

.socials__link:hover,
.socials__link:focus {
	background-color: var(--hover-text-color);
	color: var(--hero-text-color);
}

.socials__icon {
	fill: currentColor;
}

/* Client */
.client__title {
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 36px;
	line-height: calc(42 / 36);
	text-align: center;
	color: var(--title-text-color);
}

.client__list {
	display: flex;
	gap: 30px;
}

.client__item {
	width: 170px;
	height: 92px;
}

.client__link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border: 1px solid #afb1b8;
	border-radius: 4px;
	fill: #afb1b8;
	transition: border var(--transition-function), fill var(--transition-function);
}

.client__link:hover {
	border: 1px solid var(--hover-text-color);
	fill: var(--hover-text-color);
}

/* Footer */
.footer {
	padding-top: 60px;
	padding-bottom: 60px;
	background: var(--primery-bleck-color);
}

.footer__container {
	display: flex;
	align-items: baseline;
}

.footer__wraper {
	margin-right: 70px;
}

.footer__element {
	margin-bottom: 20px;
}

.address {
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

.address__text {
	margin-bottom: 9px;
}

.address__location {
	color: var(--hero-text-color);
	transition: color var(--transition-function);
}

.address__item:not(:last-child) {
	margin-bottom: 9px;
}

.address__contacts {
	color: var(--address-text-color);
	transition: color var(--transition-function);
}

.address__location:hover,
.address__location:focus {
	color: var(--hover-text-color);
}

.address__contacts:hover,
.address__contacts:focus {
	color: var(--hover-text-color);
}

.footer__text {
	display: block;
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 14px;
	line-height: calc(16 / 14);
	text-transform: uppercase;
	color: var(--hero-text-color);
}

.footer__link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	color: var(--hero-text-color);
	background-color: rgba(255, 255, 255, 0.1);
	transition: background-color var(--transition-function);
}

.footer__link:hover,
.footer__link:focus {
	background-color: var(--hover-text-color);
}

.footer-form--wraper {
	margin-left: auto;
}

.footer-form {
	display: flex;
}

.footer-form__input {
	margin-right: 12px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 16px;
	width: 358px;
	height: 50px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	color: var(--address-text-color);
	background-color: inherit;
}

.footer-form__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	flex-basis: 200px;
	height: 50px;
	font-weight: 700;
	font-size: 16px;
	line-height: calc(30 / 16);
	letter-spacing: 0.06em;
	cursor: pointer;
	border: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	color: var(--hero-text-color);
	background: var(--hover-text-color);
}

.footer-form__icon {
	fill: var(--hero-text-color);
}

/* Portfolio page */
.portfolio {
	background-color: var(--hero-text-color);
}

.filter-list {
	display: flex;
	margin-bottom: 50px;
	justify-content: center;
	gap: 8px;
}

.portfolio__list {
	display: flex;
	flex-wrap: wrap;
}

.portfolio__item {
	width: 370px;
	margin-right: 30px;
	margin-bottom: 30px;
	background-color: var(--hero-text-color);
}

.portfolio__item:nth-child(3n) {
	margin-right: 0;
}

.portfolio__item:nth-last-child(-n + 3) {
	margin-bottom: 0;
}

.portfolio__link {
	display: block;
	transition: box-shadow var(--transition-function);
}

.portfolio__link:hover,
.portfolio__link:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
		1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
	transform: translateY(0);
}

.portfolio__thumb {
	position: relative;
	overflow: hidden;
}

.portfolio__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translateY(100%);
	transition: transform var(--transition-function);
	padding: 63px 24px;
	font-size: 18px;
	line-height: calc(28 / 18);
	color: var(--hero-text-color);
	background-color: rgba(33, 150, 243, 0.9);
}

.portfolio__element {
	width: 370px;
	padding: 20px 24px;
	border: 1px solid #eeeeee;
	border-top: none;
}

.portfolio__title {
	margin-bottom: 4px;
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.portfolio__text {
	color: var(--primery-text-color);
	font-size: 16px;
	line-height: 1.88;
}

/* <!-- Modal window --> */
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	transition: opacity var(--transition-function),
		visibility var(--transition-function);
}

.backdrop.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	transition: transform var(--transition-function),
		opacity var(--transition-function);
	padding: 40px;
	width: 528px;
	min-height: 581px;
	background-color: var(--hero-text-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.backdrop.is-hidden .modal {
	opacity: 0;
	transform: translate(-50%, -50%) scale(0.4) rotate(90deg);
}

.modal__btn {
	position: absolute;
	top: 8px;
	right: 8px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	width: 30px;
	height: 30px;
	color: var(--logo-bleck-color);
	background-color: var(--hero-text-color);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	cursor: pointer;
	transition: color var(--transition-function);
}

.modal__btn:hover,
.modal__btn:focus {
	color: var(--hover-text-color);
}

.modal__exclusion-icon {
	fill: currentColor;
}

.modal__strong {
	display: block;
	margin-bottom: 12px;
	font-weight: 700;
	font-size: 20px;
	line-height: calc(23 / 20);
	text-align: center;
	color: var(--title-text-color);
}

.modal__label {
	font-size: 12px;
	line-height: calc(14 / 12);
	letter-spacing: 0.01em;
	color: var(--primery-text-color);
}

.modal__wraper {
	position: relative;
	margin-top: 4px;
	margin-bottom: 10px;
}

.modal__input {
	padding: 12px;
	padding-left: 42px;
	min-width: 448px;
	min-height: 40px;
	outline: none;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition: border-color var(--transition-function);
}

.modal__input:focus {
	border-color: var(--hover-text-color);
}

.modal__input:focus + .modal__icon {
	fill: var(--hover-text-color);
}

.modal__icon {
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);
	fill: var(--title-text-color);
	transition: fill var(--transition-function);
}

.modal__comment {
	display: block;
	margin-top: 4px;
	margin-bottom: 20px;
	padding: 12px 16px;
	width: 100%;
	resize: none;
	font-size: 12px;
	line-height: calc(14 / 12);
	letter-spacing: 0.01em;
	outline: none;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition: border-color var(--transition-function);
}

.modal__comment:focus {
	border-color: var(--hover-text-color);
}

.checkbox {
	position: relative;
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.checkbox__field {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	font-size: 14px;
	line-height: calc(24 / 14);
	color: var(--primery-text-color);
	user-select: none;
}

.checkbox__input {
	position: absolute;
	width: 16px;
	height: 15px;
	top: 50%;
	left: 9px;
	transform: translateY(-50%);
}

.checkbox__icon {
	position: absolute;
	top: 50%;
	left: 9px;
	transform: translateY(-50%);
	fill: var(--title-text-color);
	border-radius: 3px;
	outline: 1px solid transparent;
}

.uncheck {
	opacity: 1;
	transition: var(--transition-function);
}

.checkbox__input:checked + .checkbox__icon .uncheck {
	opacity: 0;
}

.checkbox__input:focus-visible + .checkbox__icon {
	outline-color: var(--hover-text-color);
	box-shadow: 0 0 0 2px rgb(0, 0, 0);
}

.check {
	opacity: 0;
	transition: var(--transition-function);
}

.checkbox__input:checked + .checkbox__icon .check {
	opacity: 1;
}

.checkbox__link {
	color: var(--hover-text-color);
	text-decoration-line: underline;
	text-underline-offset: 3px;
}

.modal__form-btn {
	display: block;
	margin: 0 auto;
	padding: 10px 52px;
	min-width: 200px;
	font-weight: 700;
	font-size: 16px;
	line-height: calc(30 / 16);
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--hero-text-color);
	background-color: var(--hover-text-color);
	border-radius: 4px;
	cursor: pointer;
	border: none;
	transition: box-shadow var(--transition-function);
}

.modal__form-btn:hover,
.modal__form-btn:focus {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
